html,
body {
    background: #f7f7fa;
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    color: #1E2122;
}

article {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 420px;
}

nav {
    display: flex;
    gap: 4px;
    padding: 4px 0;
    align-items: center;
}

nav ul {
    text-decoration: none;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 8px 0;
}

.front {
    border: 1px solid black;
    padding: 16px;
}

.space-y-4 > * {
    margin-top: 16px;
}

.space-y-4 > :first-child {
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ensip-list li a {

}

.ensip-list li[data-X=true] a {
    color: #DE5999;
}

.link {
    color: #3889FF;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #056AFF;
}
